a {
    color: goldenrod;
} 
body {
    background-color: #212121;
    color: #b2b2b2;
    max-width: 1024px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
h2 {
    color: dodgerblue;
}
.stream {
    width: 600px;
    height: 340px;
}

a .stream {
    display: block;
    margin: 0 auto;
}